body {
  background: #efefef;
  font-family: 'Roboto', sans-serif;
}
.confirm-page{
  background: #00B4E5;
  font-family: 'Roboto', sans-serif;
}
body .confirm-inscribe {
  background: #00B4E5;
  width: 100%;
  height: 100%;
}
.box-container {
  border-top: 3px solid #28afee;
  margin-top: 80px;
  background: white;
  padding: 3rem;
}
.fnt-36 {
  font-size: 36px;
  color: black;
}
.text-green {
  color: #008000;
}
.btn-green {
  padding: 28px;
  padding-bottom: 56px;
  background-color: rgb(0, 156, 8);
  color: white;
  font-size: 24px;
  width: 100%;
}
.fnt-24 {
  font-size: 24px;
  font-weight: 300;
}
.icon-checked {
  width: 29px;
  height: 29px;
}
.date-text {
  color: #5c5c5c;
  font-size: 17px;
  font-weight: 300;
}
.local-date{
  font-size: 14px;
  font-weight: 350;
}
.desc-countdown {
  font-size: 14px;
  text-transform: uppercase;
  color: #c2c1c1;
}
.countdown {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 46px;
}
.container-date {
  width: 75%;
}
.box-presenter {
  background: #f8f8f8;
}
.img-circle {
  background-image: url('../img/bruno_oliveira.jpg');
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.presenter-name {
  font-size: 19px;
  color: #2b94ff;
  font-weight: 400;
}
.presenter-describe {
  font-size: 16px;
  font-weight: 300;
  color: #5c5c5c;
}
.footer-text {
  font-size: 16px;
  text-decoration: none;
  color: #a8a8a8;
}
.modal-content {
  padding: 10px 40px 30px 40px;
  background: #f4f4f4;
}
.modal-header h1 {
  font-size: 26px;
  font-weight: 300;
  font-family: inherit;
}
.modal-input-size {
  height: 40px;
}
.convert-hour, a:hover {
  color: #0056b3;
  text-decoration: none;
  font-size: 13px;
}
.icon-format {
  font-size: 16px;
  color:#555;
}
.btn-inscribe {
  width: 100%;
  background-color: #24a0d1;
  border-color: #24a0d1;
  color: #fff;
  font-size: 30px;
  padding: 25px 30px;
  min-height: 92px;
}
.modal-md {
  max-width: 600px;
}
#TituloModalCentralizado {
  color: rgb(104, 104, 104);
}
.yellow-button {
  cursor: pointer;
  background-color: rgb(245, 245, 61);
  color: #000;
  font-size: 20px;
  font-weight: bold;
  max-width: 516px;
  padding: 24px 16px;
  width: 100%;
}
.yellow-button:hover {
  background-color: rgb(245, 245, 61);
  opacity: .8;
}
.modal-header {
  border-bottom: 1px solid #c0c0c0;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #8c8686;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.container-box-confirm {
  width: 45%;
  margin: auto;
}
.txt-white {
  color: #FFFFFF;
}
.txt-blue {
  color: #00B4E5;
}
.txt-grey {
  color: #848484;
}
.txt-15 {
  font-size: 15px;
}
.img-ecommerce-success {
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0px 0px;
}
.image-confirm-course {
  background: #FFFFFF;
  min-height: 400px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: #00000029 0px 3px 6px;
}
.background-grey {
  background: #E6E6E6;
  width: 100%;
  min-height: 100px;
  border-radius: 0px 0px 4px 4px;
}
.format-btn {
  width: 50%;
  height: 30px;
  background: #CECECE;
  border-radius: 21px;
  margin: auto;
}
.logo-footer-inscribe {
  width: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-download {
  background: #EAF0F7;
  width: 100%;
  min-height: 200px;
}
.box-white {
  box-shadow: #00000029 0px 3px 6px;
  background: white;
  min-height: 200px;
  border-radius: 4px;
}
.align-middle-download {
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.confirm-download-pdf {
  text-align: center;
  width: 100%;
  background: green;
}
.btn-download-pdf {
  width: 100%;
  background: #519839;
  height: 50px;
  color: white;
}

/* responsivo */

@media(max-width: 900px) {
  .fnt-36 {
    font-size: 30px;
    color: black;
  }
  .container-box-confirm {
    width: 65%;
    margin: auto;
  }
  ul {
    margin-left: -25px;
  }
  .format-btn {
    width: 70%;
  }
  .box-container {
    border-top: 3px solid #28afee;
    margin-top: 0px;
    background: white;
    padding: 0.75rem;
  }
  .box-name-desc {
    text-align: center;
    margin-top: 10px;
  }
  .desc-countdown {
    font-size: 12px;
    text-transform: uppercase;
    color: #c2c1c1;
  }
  .countdown {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 36px;
  }
  .btn-green {
    padding: 18px;
    padding-bottom: 50px;
    background-color: rgb(0, 156, 8);
    color: white;
    font-size: 19px;
    width: 100%;
  }
  .container-date {
    width: 100%;
  }
  .modal-header h1 {
    font-size: 21px;
    font-weight: 300;
    font-family: inherit;
  }
  .modal-content {
    padding: 10px 10px 20px 10px;
    background: #f4f4f4;
  }
  .yellow-button {
    cursor: pointer;
    background-color: rgb(245, 245, 61);
    color: #000;
    font-size: 18px;
    font-weight: bold;
    max-width: 516px;
    padding: 24px 16px;
    width: 100%;
  }

}

@media(max-width: 600px) {
  .container-box-confirm {
    width: 100%;
    margin: auto;
  }
  .logo-footer-inscribe {
    width: 30%;
  }
}
